@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Notes.Models
@using Notes.Utilities
@inject NavigationManager Navigation
@inject IDialogService DialogService
<AuthorizeView>
    <Authorized>
        @* <a @onclick="BeginLogOut">Log out</a> *@
        <MudText Typo="Typo.h4">Hello, @context.User.Identity?.Name !</MudText>
        <MudAvatar>
            <MudImage Src="@Helper.User!.Picture" @onclick="ShowProfile"></MudImage>
        </MudAvatar>
    </Authorized>
    <NotAuthorized>
        <MudLink href="authentication/login" Color="Color.Secondary">Log in</MudLink>
    </NotAuthorized>
</AuthorizeView>

@code
{

}
