@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Notes.Utilities
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity?.Name!
        @* <a @onclick="BeginLogOut">Log out</a> *@
        <a @onclick="ShowProfile">Profile</a> 
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>
@if(_showProfile)
{
    <Profile  HideProfile="HideMe"/>
} 