@inherits LayoutComponentBase
@inject IJSRuntime JsRuntime
<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<!-- Navbar with Login and Profile --> 
<MudAppBar Color="Color.Primary" Fixed="false">
    <MudAvatar Color="Color.Warning" Variant="Variant.Filled">
        <MudIcon Color="Color.Dark" Icon="@Icons.Custom.Uncategorized.Radioactive" Size="Size.Large" />
    </MudAvatar>
    <MudSpacer />
    <LoginDisplay/>
</MudAppBar>

<!-- Floating Add Note Button -->  
<div class="container">
    @Body
</div>
 
