@using System.Text.Json
@using Notes.Models
@using Notes.Utilities
@inject IJSRuntime JsRuntime
@inject ISnackbar Snackbar

<a @onclick="NewNote" class="add-note-button" title="Add New Note">
    +
</a>
<div class="notes-container">
    @foreach (var cards in Helper.ParentsNodes)
    {
        <Card TakeActionOnMe="ActionOnCard" ParentNote="cards"/>
    }
</div>

@if (_isNewNoteAdding)
{
    <AddNote OnAddNote="AddedNewNote"/>
}
 
