@page "/"
@using System.Security.Claims
@using Notes.Models 
@using Notes.Utilities
<AuthorizeView>
    <Authorized>
        <AllCards/>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>  